* {
    padding : 0 ;
    margin : 0 ;
}


body {
    animation: flashbang 3s ease ;
}

.tabler{
    padding: 15px;
    box-shadow: 0px 0px 9px  rgba(0, 0, 0, 0.7);
    animation : animasi-table 3.9s  ease ;
}

.animation-a {
    animation : animasi-logo-container 3.3s ease  ;
}


.container {
    margin-top : 80px ;
    animation: animasi-container 4s ease ;
    overflow: auto ;
}

table tbody td:hover {
    background-color: #4d94ac ;
    transition: ease 0.5s ;
    cursor: pointer ;
}

.bayangan-text {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.nav-hover:hover {
    border-radius: 0px ;
}


/* untuk section daftar */

.container-b {
    animation: container-b 3.5s ease ;
}


.form-shadow {
    box-shadow: 0px 5px 3px 5px rgba(0, 0, 0, 0.2);
    opacity : 0.8 ;
}

.form-shadow:hover {
    opacity : 1 ;
}







/* media querry */


@media only screen and (min-width : 800px ) {
    
    .nav-hover:hover { 
        background-color: #4d94ac ;
        border-radius: 50px ;
        transition: 0.8s ease;
    }

}


/* animation */

@keyframes  animasi-table {
    from {
        opacity : 0 ;
    }

    to {
        opacity : 1 ;
    }
}

@keyframes animasi-logo-container {
    from {
        opacity : 0 ;
       
    }

    to {
        opacity : 1 ;
        text-align: center ;
    }
}

@keyframes animasi-container {
    from {
        margin-top: -600px ;
    }

    to {
        margin-top : 80px ;
    }
}

@keyframes flashbang {
    from {
        background-color: white ;
    }
    to {
        background-color: #3b6978 ;
    }
}

/* untuk jadwal */

@keyframes container-b {
    from {
        margin-top : -600px ;
    }

    to {
        margin-top : 40px ;
    }
}