
body {
    overflow:  hidden ;
}

.container {
    animation: opening3 3.5s ease ;
}

.bayangan-text {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.nav-hover:hover {
    border-radius: 0px ;
}


/* media querry */


@media only screen and (min-width : 800px ) {
    
    .nav-hover:hover { 
        background-color: #4d94ac ;
        border-radius: 50px ;
        transition: 1.5s ease;
    }

}


/* animation  */

@keyframes opening3 {
    from {
        margin-top: -600px ;
    }

    to {
        margin-top : 45px ;
    }
}